body {
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
}



#main_form {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
}

.tab-content fieldset {
    display: inline-grid;
    align-content: center;
    border-radius: 5%;
}

.tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
    display: flex;
    justify-content: space-around;
}

.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:10px 0;
    font-size:1rem;
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:#1ab188;
    color: white;
    transition:all.5s ease;
    -webkit-appearance: none;
    border-radius:10%;
}

.tab {
    background-color: #1ab188;
}



.tab a {
    display: block;
}