#DB_Select{
    text-align: center;
    background-color: grey;
}

.button {
    border:0;
    outline:none;
    border-radius: 15px;
    padding:10px 10px;
    font-size:1rem;
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:#1ab188;
    color: white;
    transition:all.5s ease;
    -webkit-appearance: none;
}

.button:hover {
    background: #1dc799;
    cursor: pointer;   
    box-shadow: 5px 5px 6px #46634a;
}

.body{
    background-color: #13232f;
}

.container{
    background-color: #c1bdba;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    display: grid;
    grid-template-areas: 
    ". d . a"
    "b b b c";
    grid-row-gap: 10px;
    height: 100%;
}

#logout_button{
    grid-area: a;
    margin: 2.5px;
    /* max-width: 40%; */
    width: 150px;
    height: 100%;
    margin-left: auto;
} 

#hello_text{
    grid-area: d;
    text-align: center;
    background-color: #13232f; 
    color: white;
    border-radius: 15px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 5px 6px #43434c;

}

.container h1{
    margin: 0;
}

.db_view{
    grid-area: b;
    position: relative;
    grid-row-end: auto;
    background-color: #13232f;
    border-radius: 15px;
    margin: 5px;
    height: 75vh;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    /* box-shadow: 5px 5px black; */
    box-shadow: 5px 5px 6px #43434c;
    overflow: hidden; 
    
}

.db_view_header{
    position: absolute;
    top: 0;
    margin-top: 10px;
    font-size: 200%;
    display: inline-block;
}

.db_view_container{
    display: inline-block;
    position: relative;
    border: 2px solid white;
    margin: 10px; 
    height: calc( 100% - 70px );
    overflow: auto;
 
}


table {
    table-layout: fixed;
    width: 80%;
    font-family: "Lucida Console", Monaco, monospace;
    border-collapse: collapse;
    border-spacing: 10px;
    
  }
  
td, th {
    text-align: left;
    padding: 8px;
    width: 300px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
    color: #13232f;
  }

table, th, td {
    border: 1px solid white;
  }

.news{
    grid-area: c;
    position: relative;
    background-color: #13232f;
    border-radius: 15px;
    margin: 5px;
    height: 75vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    box-shadow: 5px 5px 6px #43434c;
}

.news .news_header{
    position: absolute;
    top: 0;
    margin-top: 10px;
    font-size: 200%;
    display: inline-block;
}

.news_container{
    border: 2px solid white;
    border-radius: 15px;
    margin: 10px;
    height: calc( 100% - 70px );
    width: 350px;
    overflow: auto;
}

#download_button{
    position: absolute;
    bottom: 0;
    margin: 10px;
    display: block;
    background-color: grey;
}



@media only screen and (max-width: 1024px) and (min-width: 512px){
    .container {
        grid-template-areas: 
        "d a"
        "b b"
        "c c";
    }
    .db_view_container{
        height: 95%;
    }
    .news_container{
        width: 100%;
    }
    
}

@media only screen and (max-width: 512px) {

    .container {
        grid-template-areas: 
        "d"
        "a"
        "b"
        "c";
    }
    .db_view_container{
        height: 95%;
    }
    .news_container{
        width: 100%;
    }
    
}

@media only screen and (max-width: 400px) {
    .news_container {
    height: calc( 100% - 100px );
    }
}
