body {
    background-color: yellowgreen;
    
}

#main_form {
    /* background-color: green; */
    display: inline-grid;
    align-content: center;
}

.tab-content fieldset {
    display: inline-grid;
}

.tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
}

.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:2rem;
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:#1ab188;
    color: white;
    transition:all.5s ease;
    -webkit-appearance: none;
}

.tab {
    background-color: #1ab188;
}



.tab a {
    background-color: blue;
}