#sign-up {
    background-color: #13232f;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    grid-template-areas:
    'FN-label LN-label email-label'
    'FN LN email'
    'User-label Pass-label CPass-label'
    'User Pass CPass'
    '. Submit .';
    justify-items: center;
}

#sign-up label {
    justify-self: center;
    margin: 5px;
}

#sign-up input {
    margin: 5px;
    border-radius: 15px;
    background-color: #13232f;
    color: white;
}

#first_name {
    grid-area: FN;
}

#sign-up label:nth-of-type(1) {
    grid-area: FN-label;
}

#last_name {
    grid-area: LN;
}

#sign-up label:nth-of-type(2) {
    grid-area: LN-label;
}

#email {
    grid-area: email;
}

#sign-up label:nth-of-type(3) {
    grid-area: email-label;
}

#sign-up-username{
    grid-area: User;
}

#sign-up label:nth-of-type(4) {
    grid-area: User-label;
}

#sign-up-password{
    grid-area: Pass;
}

#sign-up label:nth-of-type(5) {
    grid-area: Pass-label;
}

#confirm_password{
    grid-area: CPass;
}

#sign-up label:nth-of-type(6) {
    grid-area: CPass-label;
}

#sign-up-submit{
    grid-area: Submit;
    margin: 5px;
    width: 60%;
    font-size: 100%;
}


@media only screen and (max-width: 770px) {
    #sign-up {
      grid-template-areas:
      'FN-label LN-label'
      'FN LN'
      'User-label email-label'
      'User email'
      'Pass-label CPass-label'
      'Pass CPass'
      'Submit Submit';
    }
    #sign_up_element {
        transform: scale(0.5);
        text-align: center;
    }
    
    #login_element {
        transform: scale(0.5);
        text-align: center;
    }
  }

@media only screen and (max-width: 480px) {
    #sign-up {
      grid-template-areas:
      'FN-label'
      'FN'
      'LN-label'
      'LN'
      'User-label'
      'User'
      'email-label'
      'email'
      'Pass-label'
      'Pass'
      'CPass-label'
      'CPass'
      'Submit';
    }
  }

  @media only screen and (min-width: 1700px) {
      #main_form {
          transform: scale(2);
          margin-top: 230px;
      }
  }

  @media only screen and (min-width: 4600px) {
    #main_form {
        transform: scale(3);
        margin-top: 460px;
    }
}